@charset "UTF-8";

body {
	margin: 0;
	background-image: url("images/stars.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0;
	padding: 0;
}
.row {
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 20px;
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top:0;
}
.columns {
	width: 25%;
	float: left;
	font-family: "Source Sans Pro", serif;
	color: #FFFFFF;
	line-height: 24px;
	text-align: justify;
	padding: 10px 0;
	margin: 15px 0;
}

.colColumn2 {
	width: 50%;
	float: left;
	text-align: center;
	font-family: "Source Sans Pro", serif;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
}

.columns2 {
	width: 33.3%;
	float: left;
	font-family: "Source Sans Pro", serif;
	color: #FFFFFF;
	line-height: 24px;
	text-align: justify;
	padding: 10px 0;
	margin: 15px 0;
}

.columns3 {

	float: left;
	font-family: "Source Sans Pro", serif;
	color: #FFFFFF;
	line-height: 24px;
	text-align: justify;
	padding: 10px 25%;
	margin: 15px 8%;
}

.row .columns p {
	padding-left: 8%;
	padding-right: 8%;
}

.row .columns2 p {
	padding-left: 10%;
	padding-right: 10%;
}

.row .columns3 p {
	padding-left: 10%;
	padding-right: 10%;
}

.container .columns h4 {
	text-align: center;
	color: #ffae4b;
	font-size: 25px;
	margin-bottom: 5px;
}

.container .columns2 h4 {
	text-align: center;
	color: #ffae4b;
	font-size: 25px;
	margin-bottom: 5px;
}

.container .columns3 h4 {
	text-align: center;
	color: #ffae4b;
	font-size: 25px;
	margin-bottom: 5px;
}

.container .columns h5 {
	text-align: center;
	color: #fff6dc;
	font-size: 18px;
	margin-top:0;
	margin-bottom: 0;
}

.container .columns h3 {
	text-align: center;
	color: #fff6dc;
	font-size: 20px;
	margin: 0 0 15px;
}

.container .columns2 h5 {
	text-align: center;
	color: #fff6dc;
	font-size: 18px;
	margin-top:0;
}

.container .columns3 h5 {
	text-align: center;
	color: #fff6dc;
	font-size: 18px;
	margin-top:0;
}

.primary_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
}

.row .primary_header {
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	clear: left;
	border-bottom:0 solid #B3B3B3;
	font-size: 20px;
}

.secondary_header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	clear: left;
}
.container .secondary_header ul {
	margin: 0 auto;
	padding: 0 0 15px;
	width: 100%;
}
.secondary_header ul li {
	font-weight: bold;
	font-style: normal;
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top:0;
	font-family: "Source Sans Pro", serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 25%;
	transition: all 0.3s linear;
	text-decoration: none;

}
a:visited {
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.secondary_header ul li:hover a{
	color: #ffae4b;
	cursor: pointer;
}

ul li a{
	text-decoration: none;
	font-family: source-sans-pro, serif;
	font-size: 18px;
	letter-spacing: 2px;
	color: #ffffff;

}
.left_article {
	width: 60%;
	float: left;
	font-family: "Source Sans Pro", serif;
	color: #FFFFFF;
	padding-bottom: 15px;

}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-size: 20px;
}
.right_article {
	width: 40%;
	float: left;
}
.container .right_article ul {
	margin: 0;
	padding: 0;
}
.right_article ul li {
	font-family: "Source Sans Pro", serif;
	list-style: none;
	text-align: center;
	width: 90%;
	margin: 10px auto;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius:0;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover a{
	background-color: #2C9AB7;
	cursor: pointer;
}
.footer {
	background-color: #717070;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro", serif;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 50px;
}
.groupPhoto {
	max-width: 750px;
	max-height: 570px;
	width: 100%;
	padding-top: 30px;
	padding-left: 19px;
	float: left;
	padding-bottom: 30px;
	height: 100%;
}
.left_half {
	background-color: #52BAD5;
}
.container .column_half.left_half h2 {
	color: #FFFFFF;
	font-family: "Source Sans Pro", serif;
	text-align: center;
}
.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	font-family: "Source Sans Pro", serif;
	text-align: center;
	font-weight: bold;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro", serif;
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left:0;
	width: 100%;
}
.container .secondary_header ul {
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin: 0;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin: 22PX 0;
	padding: 0;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin: 0;
	padding: 0;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
	
.columns2 {
	width: 100%;
	margin: 0;
	padding: 0;
}
.columns2 p {
	padding-left: 10px;
	padding-right: 10px;
}
	
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom:0;
	margin-bottom:0;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left:0;
	width: 100%;
}
.container .secondary_header ul {
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin: 0;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin: 6px 0;
	padding: 0;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}


	
.columns2 {
	width: 100%;
	margin: 6px 0;
	padding: 0;
}
.columns2 p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin: 10px 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}
.columns {
	width: 50%;
	float: left;
	padding: 0;
}


.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
	
.columns2 {
	width: 50%;
	float: left;
	padding: 0;
}
.container .columns2 p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}
.thumbnail {
	width: 200px;
	border-radius: 300px;
	height: 200px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	width: 100%;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height:0;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
#menu {
}
