@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro, serif;
	background-image: url("images/stars.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	margin: 0;
	font-style: normal;
	font-weight: 200;
}

/* Image Gallery */
.mySlides {
	color: #ffffff;
	text-align: center;

}

.mySlides p {
	color: #ffffff;
	text-align: center;
	margin-top: 2px;
}

.mySlides h2 {
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	margin: 0;
}

.mySlides img {
	max-width: 492px;
	text-align: center;
	background-color: #000000;
	padding: 8px 8px 8px 8px;
	border-radius: 15px;

}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;

}
.logo {
	font-weight: bold;
	float: right;
	letter-spacing: 4px;
}

.hero .TeamLogoHead {
	text-align: center;
	width: 75%;
	height: auto;
	max-width: 360px;

}


.logo img {
	width: 100%;
	max-width: 120px;
	display: flex;
	align-content: center;
	opacity: 100%;

}

nav {
	float: right;
	width: auto;
	text-align: right;
	margin-right: 0;
}
header nav ul {
	list-style: none;
	float: right;

}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #ffae4b;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
	font-size: 44px;
}
/* Hero Section */
.hero {
	padding-bottom: 25px;
	text-align: center;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 32px;
	margin-bottom:2px;
}

.sechead {
	text-align: center;
	color: #FFFFFF;
	margin-top: 8px;
	margin-bottom: 4px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 24px;
}

.secsubhead {
	text-align: center;
	color: #FFFFFF;
	margin-top: 16px;
	margin-bottom: 64px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
}

.secsubheadalt {
	text-align: center;
	color: #FFFFFF;
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
}

/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 2.5%;
	padding-right: 1.5%;
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 7px;
}

.head_column {
	width: 33.3%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	display: inline-block;
	font-size: 30px;
	float: left;
}

.head_column2 {
	width: 50%;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	font-size: 30px;
	float: left;
	margin-top: 3px;
	margin-bottom: 10px;
}

.about {
	padding-top: 5px;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}
/* Stats Gallery */
.stats {
	color: #ffffff;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	/* [disabled]min-width: 400px; */
	padding-bottom: 35px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin: 0;
	color: #FFFFFF;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(../images/templateimgs/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0;
}

.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin: 0;
}

/* Design Process */
footer {
	padding-bottom: 35px;
}

.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 0;
	float: left;
	margin-bottom: 25px;
}

.footer_center {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
	padding-top: 0;
	float: left;
	color: #ffffff;
	font-size: 20px;
}

.footer_column_gallery {
	width: 50%;
	text-align: center;
	padding-top: 0;
	float: left;
	margin-bottom: 25px;
	align-items: center;
}

.footer_column_gallery_button {
	width: 100%;
	text-align: center;
	padding-top: 0;
	float: left;
	margin-bottom: 25px;
	align-items: center;
}

.footer_column a {
	max-width: 25%;
	max-height: 25%;
	padding-top: 50px;
}

.footer_column img {

}

.footer_center a {
	max-width: 25%;
	max-height: 25%;
	padding-top: 50px;
}

.footer_center img {

}

.twoColTxt {
	text-align: justify;
	margin-bottom: 5px;
}

.twoColSubHead {
	text-align: left;
	float: left;
	padding-left: 0;
	padding-right: 0;
	color: #ffffff;
	margin-top: 15px;
	margin-bottom: 5px;
	text-decoration: underline;
	width: 100%;
}

.oneColSubHead {
	text-align: center;
	/*float: left;*/
	padding-left: 0;
	padding-right: 0;
	color: #ffffff;
	margin-top: 15px;
	margin-bottom: 5px;
	text-decoration: underline;
	width: 100%;
}

.twoColSubHeadAlt {
	text-align: left;
	float: left;
	padding-left: 0;
	padding-right: 0;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 5px;
	text-decoration: underline;
	width: 100%;
}

.twoColItemList {
	color: #ffffff;
	list-style: none;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 0;
}

.twoColItemListAlt {
	color: #ffffff;
	list-style: none;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 0;
}

.oneColItemList {
	color: #ffffff;
	list-style: none;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 0;
}

.twoColItemList2 {
	color: #ffffff;
	list-style: none;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
}

.twoColItemSubList {
	color: #ffffff;
	margin-left: 30px;
	list-style: none;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
}

.footer_column p {
	color: #ffffff;
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-size: 20px;
}

footer .footer_column h3 {
	color: #ffffff;
	text-align: center;
	font-size: xx-large;
}

.footer_column h4 {
	font-size: 20px;
}

footer .footer_center h3 {
	color: #ffffff;
	text-align: center;
	font-size: xx-large;
}

.footer_center h4 {
	font-size: 20px;
}

.twoColImgCaption{
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	color: #ffffff;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 1;
}

footer .footer_column p {
	color: #FFFFFF;
}

footer .footer_center p {
	color: #FFFFFF;
	padding-left: 25%;
	padding-right: 25%;
}

.cards {
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}

.twoColumnImgs {
	width: auto;
	height: auto;
	max-width: 800px;
	max-height: 400px;
	float: left;
	align-content: center;
	display: grid;
}

.aboutImgs2Cols {
	padding-top: 5px;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.buttonsize {
	max-width: 328px;
	float: left;
}
/*
	max-width: 656px;
	max-height: 100%;
	max-width: 328px;
 */

.w3-display-right {
	position: relative;
	top: 50%;
	right: 0;
	transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
}

footer .footer_column p {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	line-height: 25px;
	font-weight: lighter;
}

footer .footer_center p {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	line-height: 25px;
	font-weight: lighter;
}

.button {
	width: 200px;
	margin: 40px auto auto;
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}

.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

.footer_banner {
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0;
	background-image: url(../images/templateimgs/pattern.png);
	background-repeat: repeat;
}

footer {
	display: inline-block;
	width: 100%;
}

.hidden {
	display: none;
}

.sectionImg{
	margin-top: 35px;
	width: 95%;
	max-width: 941px;
}

.sectionImgAlt{
	margin-top: 35px;
	max-width: 941px;
}

.sectionImg2{
	margin-top: 5px;
	width: 75%;
	max-width: 452px;
}

.sectionImg2alt{
	margin-top: 5px;
	max-width: 452px;
}

.sectionImg2alt2{
	margin-top: 5px;
	max-width: 800px;
}

.CenteredItems{
	margin-top: 5px;
	width: 100%;
	float: left;
	text-align: center;
	font-size: 20px;
}

.CenteredItems2{
	margin-top: 5px;
	width: 100%;
	float: left;
	text-align: center;
	font-size: 20px;
}

.CenteredItems p{
	color: #ffffff;
	list-style: none;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 5px;
}

.CenteredItems2 p{
	color: #ffffff;
	list-style: none;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.CenteredItems h4{
	text-align: justify;
	float: left;
	padding-left: 0;
	padding-right: 0;
	color: #ffffff;
	margin-top: 15px;
	margin-bottom: 5px;
	text-decoration: underline;
	width: 100%;
}

.CenteredItems h5{
	color: #ffffff;
	list-style: none;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 1;
	font-size: 16px;
}

.sectionImg2altalt{
	margin-top: 5px;
	max-width: 1092px;
}

table.DesignCriteria {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	margin-top: 15px;
}
table.DesignCriteria td, table.DesignCriteria th {
	padding: 2px 2px;
}
table.DesignCriteria tbody td {
	font-size: 20px;
	color: #ffffff;
}

table.DesignCriteria tbody td p {
	color: #ffffff;
	list-style: none;
	text-align: center;
	margin: 1px 10% 0;
}

table.DesignCriteria tbody tr td h4{
	text-align: center;
	padding: 0;
}

table.DesignCriteria tbody tr td {
	text-align: center;
}

table.DesignCriteria tr:nth-child(even) {

}
table.DesignCriteria tfoot td {
	font-size: 14px;
}
table.DesignCriteria tfoot .links {
	text-align: right;
}
table.DesignCriteria tfoot .links a{
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}

/* Mobile */
@media (max-width: 320px) {
	.logo {
		width: 100%;
		text-align: center;
		margin: 13px 0 0;
	}
	.container header nav {
		margin: 0;
		width: 100%;
		float: none;
		display: none;
	}
	header nav ul {
	}
	nav ul li {
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.text_column {
		width: 100%;
		text-align: justify;
		padding: 0;
	}
	.thumbnail {
		width: 100%;
	}
	.footer_column {
		width: 100%;
		margin-top: 0;
	}
	.parallax {
		text-align: center;
		margin: 0;
		padding: 40% 0 0;
		width: 100%;
		font-size: 18px;
	}
	.parallax_description {
		padding: 0;
		width: 90%;
		margin: 25px 0 0 12px;
		float: none;
		text-align: center;
	}
	.banner {
		background-color: #2D9AB7;
		background-image: none;
	}
	.tagline {
		margin-top: 20px;
		line-height: 22px;
	}


	.sechead {
		margin-top: 20px;
		line-height: 22px;
	}

	.hero_header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	.logo {
		width: 100%;
		text-align: center;
		margin: 13px 0 0;
		color: #043745;
	}
	.container header nav {
		margin: 0;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: #52bad5;
	}
	header nav ul {
		padding: 0;
		float: none;
	}
	nav ul li {
		margin: 0;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.text_column {
		width: 100%;
		text-align: left;
		padding: 0;
	}
	.thumbnail {
		width: 100%;
	}
	.footer_column {
		width: 100%;
		margin-top: 0;
	}
	.parallax {
		text-align: center;
		margin: 0;
		padding: 40% 0 0;
		width: 100%;
		font-size: 18px;
	}
	.parallax_description {
		padding: 0;
		margin: 30% 0 0;
		float: none;
		width: 100%;
		text-align: center;
	}
	.thumbnail {
		width: 50%;
	}
	.parallax {
		margin: 0;
		padding: 20% 0 0;
	}
	.parallax_description {
		margin: 0;
		width: 100%;
		padding-top: 30px;
	}
	.banner {
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer_column {
		width: 100%;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.text_column {
		width: 100%;
	}
	.thumbnail {
		width: 50%;
	}
	.text_column {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.banner {
		margin-top: 0;
		padding-top: 0;
	}
}